{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "project": "./tsconfig.json"
  },
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "printWidth": 80,
        "jsxSingleQuote": false,
        "singleQuote": false,
        "useTabs": false,
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": true,
        "jsxBracketSameLine": false
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "none"
      }
    ],
    "@typescript-eslint/quotes": "off",
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "no-return-assign": [
      "off"
    ],
    "import/extensions": [
      "off"
    ],
    "react/jsx-key": "error",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/naming-convention": "off",
    "react/react-in-jsx-scope": "off",
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
