[Unit]
Description=Envoy Proxy
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=$WORKING_DIR/bin/envoy-hot-restarter.py $WORKING_DIR/bin/start-envoy.sh $ENVOY_LOG_FILE $ENVOY_CONFIG_FILE
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
