body {
  margin: 0;
  padding: 0
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .thumbs-wrapper {
  margin: 5px !important;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 1px solid black !important;
}

.carousel .thumb  {
  border: 1px solid white !important;
}
.carousel .slide {
  background: #FFF !important;
}

