.carousel .thumbs-wrapper {
  margin: 5px !important;
}
.carousel .thumb.selected,
.carousel .thumb:hover {
  border: 1px solid black !important;
}

.carousel .thumb {
  border: 1px solid white !important;
}
.carousel .slide {
  background: #fff !important;
}
